<!DOCTYPE html>
<html>
<head>
  <title>Heure et Date</title>
  <link rel="stylesheet" type="text/css" href="../assets/homeActu.css">
  <link rel="stylesheet" href="../assets/post.css">
</head>
<body>
  <header class="header">
    <span id="date-time"></span>
    <span  id="random-number"></span>
    <button id="weatherButton" onclick="getWeatherByLocation()">METEO</button>
    <div id="weatherInfo">
        <p id="temperature"></p>
        <p id="temperatureMax"></p>
        <p id="temperatureMin"></p>
        <img id="weatherIcon">
    </div>
  </header>
  <div class="Evenement">
      {{with index .Posts 4}}
    <div class="postE">
      <div class='deck'>
        <div class='card'>
          <header class='cardHeader'>
            <i class='fab fa-instagram cardHeader_type'></i>
            <span class='cardHeader_account'>{{.Author}}<h5>{{.Title}}</h5><small>{{.Date}}</small></span>
          </header>
          <div class='cardBody'>
            <p class='cardText'>{{.Content}}</p>
          </div>
        </div>
      </div>
    {{end}}
    </div>
    {{with index .Posts 3}}
    <div class="post">
      <div class='deck'>
        <div class='card'>
          <header class='cardHeader'>
            <i class='fab fa-instagram cardHeader_type'></i>
            <span class='cardHeader_account'>{{.Author}}<h5>{{.Title}}</h5><small>{{.Date}}</small></span>
          </header>
          <div class='cardBody'>
            <p class='cardText'>{{.Content}}</p>
          </div>
        </div>
      </div>
    {{end}}
    </div>
    
  </div>
  <main>
    <div class="ActuY">
      {{range .Posts}}
    <div class="post">
      <div class='deck'>
        <div class='card'>
          <header class='cardHeader'>
            <i class='fab fa-instagram cardHeader_type'></i>
            <span class='cardHeader_account'>{{.Author}}<h5>{{.Title}}</h5><small>{{.Date}}</small></span>
          </header>
          <div class='cardBody'>
            <p class='cardText'>{{.Content}}</p>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    </div>
    <div class="ActuM">
      ACTU MONDIALE

      {{with index .Posts2 4}}
      <div class="postE">
        <div class='deck'>
          <div class='card'>
            <header class='cardHeader'>
              <i class='fab fa-instagram cardHeader_type'></i>
              <span class='cardHeader_account'>{{.Author2}}<h5>{{.Title2}}</h5><small>{{.Date2}}</small></span>
            </header>
            <div class='cardBody'>
              <p class='cardText'>{{.Content2}}</p>
            </div>
          </div>
        </div>
      {{end}}
      </div>
      {{with index .Posts2 4}}
      <div class="post">
        <div class='deck'>
          <div class='card'>
            <header class='cardHeader'>
              <i class='fab fa-instagram cardHeader_type'></i>
              <span class='cardHeader_account'>{{.Author2}}<h5>{{.Title2}}</h5><small>{{.Date2}}</small></span>
            </header>
            <div class='cardBody'>
              <p class='cardText'>{{.Content2}}</p>
            </div>
          </div>
        </div>
      {{end}}
      </div>
      {{with index .Posts2 3}}
      <div class="postE">
        <div class='deck'>
          <div class='card'>
            <header class='cardHeader'>
              <i class='fab fa-instagram cardHeader_type'></i>
              <span class='cardHeader_account'>{{.Author2}}<h5>{{.Title2}}</h5><small>{{.Date2}}</small></span>
            </header>
            <div class='cardBody'>
              <p class='cardText'>{{.Content2}}</p>
            </div>
          </div>
        </div>
      {{end}}
      </div>
      {{with index .Posts2 2}}
      <div class="postE">
        <div class='deck'>
          <div class='card'>
            <header class='cardHeader'>
              <i class='fab fa-instagram cardHeader_type'></i>
              <span class='cardHeader_account'>{{.Author2}}<h5>{{.Title2}}</h5><small>{{.Date2}}</small></span>
            </header>
            <div class='cardBody'>
              <p class='cardText'>{{.Content2}}</p>
            </div>
          </div>
        </div>
      {{end}}
      </div>
      {{with index .Posts2 1}}
      <div class="postE">
        <div class='deck'>
          <div class='card'>
            <header class='cardHeader'>
              <i class='fab fa-instagram cardHeader_type'></i>
              <span class='cardHeader_account'>{{.Author2}}<h5>{{.Title2}}</h5><small>{{.Date2}}</small></span>
            </header>
            <div class='cardBody'>
              <p class='cardText'>{{.Content2}}</p>
            </div>
          </div>
        </div>
      {{end}}

    </div>
    </div>
  </main>
  
  <script src="../assets/js/horloge.js" defer></script>
  <script src="../assets/js/Random.js" defer></script>
  <script src="../assets/js/weatherApi.js" defer></script>
</body>
</html>
