<!DOCTYPE html>
<html>
<head>
  <title>Heure et Date</title>
  <link rel="stylesheet" type="text/css" href="../assets/homeActu.css">
</head>
<body>
  <header class="header">
    <span id="date-time"></span>
    <span  id="random-number"></span>
    <button id="weatherButton" onclick="getWeatherByLocation()">METEO</button>
    <div id="weatherInfo">
        <p id="temperature"></p>
        <p id="temperatureMax"></p>
        <p id="temperatureMin"></p>
        <img id="weatherIcon">
    </div>
  </header>
  <div class="Evenement">
    BDS ET BDE
  </div>
  <main>
    <div class="ActuY">
      ACTU YNOV
    </div>
    <div class="ActuM">
      ACTU MONDIALE
    </div>
  </main>
  
  <script src="../js/horloge.js" defer></script>
  <script src="../js/Random.js" defer></script>
  <script src="../js/weatherApi.js" defer></script>
</body>
</html>
