<!DOCTYPE html>
<html>
<head>
  <title>Heure et Date</title>
  <link rel="stylesheet" type="text/css" href="../assets/homeActu.css">
  <link rel="stylesheet" href="../assets/post.css">
</head>
<body>
  <header class="header">
    <span id="date-time"></span>
    <span  id="random-number"></span>
    <button id="weatherButton" onclick="getWeatherByLocation()">METEO</button>
    <div id="weatherInfo">
        <p id="temperature"></p>
        <p id="temperatureMax"></p>
        <p id="temperatureMin"></p>
        <img id="weatherIcon">
    </div>
  </header>
  <div class="Evenement">
    BDS ET BDE
  </div>
  <main>
    <div class="ActuY">
      {{range .Posts}}
    <div class="post">
      <div class='deck'>
        <div class='card'>
          <header class='cardHeader'>
            <i class='fab fa-instagram cardHeader_type'></i>
            <span class='cardHeader_account'>{{.Author}}<h5>{{.Title}}</h5><small>{{.Date}}</small></span>
          </header>
          <div class='cardBody'>
            <p class='cardText'>{{.Content}}</p>
          </div>
        </div>
      </div>
    </div>
    {{end}}
    </div>
    <div class="ActuM">
      ACTU MONDIALE
    </div>
  </main>
  
  <script src="../js/horloge.js" defer></script>
  <script src="../js/Random.js" defer></script>
  <script src="../js/weatherApi.js" defer></script>
</body>
</html>
