<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Weather</title>
</head> 
<body>
    <span id="temperature"></span>
    <span id="temperatureMax"></span>
    <span id="temperatureMin"></span>
    <span id="weatherIcon"></span>
    <button onclick="getWeatherByLocation()">METEO</button>

    <div id="weatherInfo">
        <p id="temperature"></p>
        <p id="temperatureMax"></p>
        <p id="temperatureMin"></p>
        <img id="weatherIcon">
    </div>

    <script src="../js/weather.js" defer></script>
</body>
</html>
