body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#random-number {
    font-family: Arial, sans-serif; 
    position: absolute;
    color: #12F2A4;
    top: 50%;
    left: 10%;
    font-size: 40px; 
    transform: translateY(-50%);
}

#date-time {
    font-family: Arial, sans-serif; 
    font-size: 40px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #12F2A4;
    text-align: center;
}

#weatherIcon {
    position: absolute;
    top: 50%; 
    right: 65%;
    transform: translate(-50%, -50%); 
}

#weatherButton {
    font-family: fantasy; 
    border-radius: 2em;
    font-size: 25px; 
    position: absolute;
    top: 50%; 
    right: 10%;
    transform: translate(-50%, -50%); 
    color: rgb(255, 255, 255);
    background-color: #12F2A4;
    text-align: center;
}

#weatherInfo {
    font-family: fantasy;
    font-size: 18px; 
    color: #12F2A4;
    position: absolute;
    right: 2.5%;
    top: 5%;
}

.header {
    background-color: #211e1e;
    padding: 20px;
    text-align: center;
    height: 150px;
    position: relative; 
}

.Evenement {
    color: white;
    background-color: #3498db;
    padding: 20px; /* Ajustez la valeur du padding selon vos besoins */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Pour aligner les cartes à l'extrémité de la div */
  }
  
  .postE {
    width: 48%; /* Ajustez la largeur des cartes selon vos besoins */
    margin-bottom: 20px; /* Espace entre les cartes */
  }
  
  .cardE {
    max-width: 100%; /* Pour que les cartes n'excèdent pas 100% de leur parent */
    width: 100%;
  }
  
  .cardE:hover {
    z-index: 7;
    transform: scale(1); /* Pour empêcher l'agrandissement au survol */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4); /* Ajustez l'ombre selon vos préférences */
  }
  

main {
    display: flex;
    justify-content: space-between;
    flex-grow: 1; 
}

.ActuY,
.ActuM {
    width: 48%;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.ActuY {
    background-color: #211e1e;
}

.ActuM {
    background-color: #e74c3c;
}



